[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/evgeny-schmeilin
[access "refs/for/refs/*"]
	read = group user/evgeny-schmeilin
	push = group user/evgeny-schmeilin
	label-Code-Review = -2..+2 group user/evgeny-schmeilin
	label-Verified = -1..+1 group user/evgeny-schmeilin
	rebase = group user/evgeny-schmeilin
	removeReviewer = group user/evgeny-schmeilin
	submit = group user/evgeny-schmeilin
[access "refs/heads/*"]
	read = group user/evgeny-schmeilin
	create = group user/evgeny-schmeilin
	push = +force group user/evgeny-schmeilin
	pushMerge = group user/evgeny-schmeilin
[access "refs/tags/*"]
	push = +force group user/evgeny-schmeilin
	pushTag = group user/evgeny-schmeilin
	pushSignedTag = group user/evgeny-schmeilin
